# Let's ignore some junk, backup and temporary test files.
\#devel.dr.rkt#2#
\#devel.rkt#
.#devel.rkt
devel.dr.rkt
devel.dr.rkt~
devel.rkt
htcspd.html
#htcspd-module-[123].html

# Ignores the directory ‘their’, even if it is a subdir.
their/
